#header{
    display: flex;
    background-color: white;
    z-index: 1;
    position: sticky;
    top: 0;
}

#header-wrapper{
    overflow: hidden;
    display: flex;
    height: 90px;
    margin: 0 auto;
    background-color: white;
    z-index: 1;
    position: sticky;
    top: 0;
}

.header-logo{
    width: 5em;
    padding-top: 8px;
    padding-bottom: 15px;
    z-index: 1;
    position: sticky;
    top: 0;
    float: left;
}

.header-name{
    font-weight: bolder;
    margin-top: 27px;
    font-size: 1rem;
    float: left;
    margin-left: -5px;
    letter-spacing: 0.5rem;
    z-index: 1;
    color: var(--font-color);
    position: sticky;
    top: 0;
}

#header-menus{
    margin-left: 620px;
    margin-top: 33px;
    z-index: 1;
    position: sticky;
    top: 0;
}

.header-links{
    text-decoration: none;
    color: var(--font-color);
    margin-left: 20px;
    font-size: 1.1em;
}

.header-links-1{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 1.1rem;
    background-color: var(--secondary);
    border-radius: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-links-2{
    text-decoration: none;
    color: white;
    margin-left: -10px;
    font-size: 1.1rem;
    border-radius: 100px;
}

.header-links-3{
    text-decoration: none;
    margin-left: -10px;
}

/* Sidenav */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: var(--secondary);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    }
    
    .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
    }
    
    .sidenav a:hover {
    color: #f1f1f1;
    }
    
    .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    }
    
    #main {
    transition: margin-left .5s;
    padding: 16px;
    }
    
    @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    }

    .header-sidenav-text{
        color: white;
        margin-left: 21px;
        font-size: 18px;
    }
    
/* Header Medias */
/* Default */

@media only screen and (max-width: 10000px){

    .sidenav-button{
        display: none;
    }
}

/* 1351px */
@media only screen and (max-width: 1351px){

    .header-logo{
        margin-left: 20px;
    }
    
    .header-name{
        font-weight: bolder;
        margin-top: 25px;
        font-size: 1rem;
        float: left;
        margin-left: 0px;
        letter-spacing: 0.5rem;
        z-index: 1;
        color: var(--font-color);
        position: sticky;
        top: 0;
        left: 180px;
    }
    
    #header-menus{
        margin-left: 320px;
        margin-top: 33px;
        z-index: 1;
        position: sticky;
        top: 0;
    }

}

/* 1018px */
@media only screen and (max-width: 1018px){

    .header-logo{
        margin-left: -10px;
    }
    
    .header-name{
        font-weight: bolder;
        margin-top: 25px;
        font-size: 1rem;
        float: left;
        margin-left: 0px;
        letter-spacing: 0.5rem;
        z-index: 1;
        color: var(--font-color);
        position: sticky;
        top: 0;
        left: 160px;
    }
    
    #header-menus{
        margin-left: 10px;
        margin-top: 33px;
        z-index: 1;
        position: sticky;
        top: 0;
    }

}

/* 665px */
@media only screen and (max-width: 665px){

    .header-logo{
        margin-left: -10px;
        width: 4em;
        padding-top: 12px;
    }
    
    .header-name{
        font-weight: bolder;
        margin-top: 28px;
        font-size: 0.8rem;
        float: left;
        margin-left: -5px;
        letter-spacing: 0.5rem;
        z-index: 1;
        color: var(--font-color);
        position: sticky;
        top: 0;
        left: 160px;
    }
    
    #header-menus{
        margin-left: 10px;
        margin-top: 33px;
        z-index: 1;
        position: sticky;
        top: 0;
    }

    .header-links{
        text-decoration: none;
        color: var(--font-color);
        margin-left: 10px;
        font-size: 1.0em;
    }

    .header-links-1{
        margin-left: 10px;
        font-size: 1.0rem;
        background-color: var(--secondary);
        border-radius: 50px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/* 544px */
@media only screen and (max-width: 544px){

    .header-logo{
        margin-left: -10px;
    }
    
    .header-name{
        font-weight: bolder;
        margin-top: 25px;
        font-size: 1rem;
        float: left;
        margin-left: 0px;
        letter-spacing: 0.5rem;
        z-index: 1;
        color: var(--font-color);
        position: sticky;
        top: 0;
        left: 160px;
    }
    
    #header-menus{
        display: none;

    }

    .sidenav-button{
        display: block;
        color: var(--font-color);
        margin-top: 20px;
        margin-left: 35vw;
      }

}


