#header{
    display: flex;
    background-color: white;
    z-index: 1;
    position: sticky;
    top: 0;
}

#header-wrapper{
    overflow: hidden;
    display: flex;
    height: 90px;
    width: 1400px;
    margin: 0 auto;
    background-color: white;
    z-index: 1;
}

.header-logo{
    position: fixed;
    width: 5em;
    padding-top: 8px;
    padding-bottom: 15px;
    z-index: 1;
}

.header-name{
    position: fixed;
    font-weight: bolder;
    margin-top: 28px;
    font-size: 1rem;
    float: left;
    margin-left: 75px;
    letter-spacing: 0.5rem;
    z-index: 1;
    color: var(--font-color);
}

#header-menus{
    margin-left: 920px;
    margin-top: 33px;
    z-index: 1;
    position: fixed;
}

.header-links{
    text-decoration: none;
    color: var(--font-color);
    margin-left: 20px;
    font-size: 1.1em;
}

.header-links-1{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 1.1rem;
    background-color: var(--secondary);
    border-radius: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}




